*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1A428F;
}

* {
  font-family: "Nexa-Light";
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none;
}

ol,
ul,
dl {
  padding: 0;
  padding-left: 0;
  margin-bottom: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: #187FD3;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(112.92deg, rgba(255, 255, 255, 0.36) 10.45%, rgba(255, 255, 255, 0.09) 88.73%);
}

main {
  overflow: hidden;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 8.8rem;
}

.cont {
  width: 100%;
  height: 100%;
  max-width: 132.6rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

@media all and (max-width: 1055px) {
  main {
    top: 8rem;
  }
}
@media all and (max-width: 768px) {
  .cont {
    padding-inline: 1.6rem;
  }
}
body {
  font-family: "Nexa", "Nexa-Bold";
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.6rem;
}

[class^=title-] {
  font-family: "Nexa", "Nexa-Bold";
  font-weight: 700;
}

.title-first {
  color: #FFF;
  font-feature-settings: "liga" off;
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.6rem;
}

.title-heading {
  color: #0A3354;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4rem;
}
.title-heading-white {
  color: #FFF;
}

.subtitle {
  color: #0A3354;
  font-size: 1.9rem;
  font-weight: 200;
  line-height: 3.2rem;
}
.subtitle-white {
  color: #FFF;
}
.subtitle-heading {
  border-bottom: 0.1rem solid #0A3354;
  padding-bottom: 0.8rem;
}
.subtitle-heading_white {
  border-bottom: 0.1rem solid #FFF;
  padding-bottom: 0.8rem;
}

.paragraph {
  color: #FFF;
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 2.8rem;
}
.paragraph-gray {
  color: #434443;
}
.paragraph-bold {
  font-family: "Nexa", "Nexa-Bold";
}

.paragraph-15 {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.paragraph-15-gray {
  color: #434443;
}
.paragraph-15-bold {
  font-family: "Nexa", "Nexa-Bold";
  font-weight: 700;
}

.paragraph-36 {
  color: #FFF;
  font-size: 3.6rem;
  font-family: "Nexa", "Nexa-Bold";
  line-height: 4rem;
}

.news-date {
  font-size: 1.1rem;
  line-height: 1.6rem;
  letter-spacing: 0.4px;
  color: #FFF;
}

@media all and (max-width: 768px) {
  .title-first {
    font-size: 3.6rem;
    line-height: 4rem;
  }
  .subtitle {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .title-heading {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .paragraph {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  .paragraph-36 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
.button:link, .button:visited {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  position: relative;
  background-color: #FFF;
  padding: 0.2rem 0.2rem;
  border-radius: 10rem;
  transition: all 0.4s;
  width: -moz-fit-content;
  width: fit-content;
}
.button:hover {
  gap: 3.4rem;
}
.button:active {
  gap: 2.4rem;
  transform: translateX(1rem);
}
.button span {
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Nexa-Bold";
  line-height: 2.4rem;
  margin-left: 2.4rem;
  color: #1A428F;
}
.button__blue:link, .button__blue:visited {
  background-color: #1A428F;
}
.button__blue span {
  color: #FFF;
}

@media all and (max-width: 76.8rem) {
  .button__mobile:link, .button__mobile:visited {
    display: inline-block;
    border: 0.1rem solid #1A428F;
    text-align: center;
  }
}
.modal-dialog {
  height: 100%;
  display: flex;
}
.modal-content {
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  border-radius: 1.6rem;
}
.modal-body {
  padding: 1.6rem;
  position: relative;
}
.modal-body h2 {
  color: #000000;
  margin-bottom: 0.4rem;
  font-size: 2.4rem;
  font-family: "Nexa-Bold";
  line-height: 2.8rem;
}
.modal-body h3 {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #000000;
  margin-bottom: 1.2rem;
}
.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.modal-body form input {
  color: #434443;
  font-size: 1.3rem;
  line-height: 2rem;
}
.modal-body form input:not(:last-child) {
  border-bottom: 0.1rem solid #9A9DA3;
  padding-bottom: 0.4rem;
}
.modal-body form input.submit {
  display: inline-block;
  position: relative;
  background-color: #1A428F;
  color: #FFF;
  padding: 1.2rem;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-family: "Nexa-Bold";
  line-height: 2.4rem;
  transition: all 0.3s;
  margin-top: 0.8rem;
}

.breadcrumbs {
  background-color: #1A428F;
  padding: 0.8rem 0;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.breadcrumbs_wrapper {
  position: relative;
  z-index: 10;
}
.breadcrumbs p, .breadcrumbs a {
  font-size: 1.3rem;
  color: #FFF;
  line-height: 2rem;
  font-style: normal;
  transition: color 0.3s ease-in-out;
}
.breadcrumbs a:hover {
  color: #9A9DA3;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.8rem;
  background: white;
  display: block;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__wrapper_right {
  display: flex;
  max-width: 89.5rem;
  width: 100%;
  justify-content: space-between;
}
.header__wrapper ul {
  display: flex;
  margin-top: 3.6rem;
}
.header__wrapper ul li a {
  color: #434443;
  height: 100%;
  display: block;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.header__wrapper ul li a:hover {
  color: #187FD3;
}
.header__wrapper ul li a.active::after {
  content: "";
  width: 100%;
  height: 0.4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-image: url("/src/icons/active_menu_link.webp");
  background-position: center;
  overflow: hidden;
}
.header__menu {
  gap: 3.2rem;
}
.header__language {
  gap: 2.4rem;
}
.header__language li a {
  font-family: "Nexa-Light";
}
.header__language li a.active {
  font-family: "Nexa-Bold";
}
.header__logo {
  margin-top: 2rem;
}
.header .burger {
  display: none;
}
.header .popup {
  display: none;
}

@media all and (max-width: 1055px) {
  .header {
    height: 8rem;
    overflow: hidden;
  }
  .header.active {
    height: 48.4rem;
  }
  .header__wrapper {
    height: -moz-fit-content;
    height: fit-content;
  }
  .header__wrapper_right {
    display: none;
  }
  .header__logo {
    margin-top: 1.6rem;
  }
  .header .burger {
    position: absolute;
    top: 2rem;
    right: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #0A3354;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    overflow: hidden;
  }
  .header .burger span {
    width: 2rem;
    height: 2px;
    border-radius: 1rem;
    background: #FFF;
    transition: transform 0.3s ease-in-out;
  }
  .header .burger.active span:first-child {
    transform: translate(0rem, 0.8rem) rotate(45deg);
  }
  .header .burger.active span:nth-child(2) {
    transform: translateX(10rem);
  }
  .header .burger.active span:last-child {
    transform: translate(0rem, -0.6rem) rotate(-45deg);
  }
  .header .popup {
    display: block;
    width: 100%;
    height: 40.4rem;
    position: absolute;
    left: 0;
    top: 8rem;
    background: #FFF;
    transition: height 0.3s ease-in-out, padding 0.6s ease-in-out, top 0.2s ease-in-out;
    z-index: -1;
    overflow: hidden;
    padding: 1.6rem 1.6rem 4rem;
  }
  .header .popup ul.popup__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .header .popup ul.popup__menu a {
    color: #434443;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-family: "Nexa-Bold";
  }
  .header .popup h3 {
    margin-top: 4.8rem;
    color: #434443;
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 1.2rem;
  }
  .header .popup ul.language {
    display: flex;
    gap: 2.4rem;
  }
  .header .popup ul.language a {
    color: #434443;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}
.footer {
  background-color: #FFF;
  padding: 10rem 0 3.6rem;
  position: relative;
  top: 8.8rem;
}
.footer a {
  transition: color 0.3s ease-in-out;
}
.footer a:hover {
  color: #187FD3;
}
.footer .p-mobile {
  display: none;
}
.footer img {
  max-width: 16.7rem;
  width: 100%;
  height: 100%;
}
.footer__box {
  display: grid;
  grid-template-columns: 0.5fr 0.7fr 0.5fr 0.5fr;
  gap: 3.3rem;
}
.footer__address h3, .footer__address a {
  font-size: 1.9rem;
  font-style: normal;
  font-family: "Nexa-Bold";
  line-height: 3.2rem;
  color: #0A3354;
}
.footer__address h3 {
  margin-bottom: 0.4rem;
}
.footer__address a {
  display: inline-block;
  margin-bottom: 5.2rem;
  margin-top: 1.6rem;
}
.footer__call a {
  display: inline-block;
  font-size: 1.9rem;
  font-style: normal;
  font-family: "Nexa-Bold";
  line-height: 3.2rem;
  color: #0A3354;
  margin-bottom: 2.4rem;
}
.footer__call p {
  max-width: 16.1rem;
  margin-bottom: 5.2rem;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: end;
}
.footer__nav a {
  display: inline-block;
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #434443;
}
.footer hr {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #187FD3;
  opacity: 1;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom a, .footer__bottom p {
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #000000;
}
.footer__mobile:visited, .footer__mobile:link {
  display: none;
}

@media all and (max-width: 768px) {
  .footer {
    padding: 6rem 0 2rem;
    top: 8rem;
  }
  .footer img {
    max-width: 13.8rem;
    order: 0;
  }
  .footer__box {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .footer__address {
    order: 2;
  }
  .footer__address h3, .footer__address a {
    font-size: 1.7rem;
    line-height: 2.8rem;
  }
  .footer__address h3 {
    margin-bottom: 0;
  }
  .footer__address a {
    display: inline-block;
    margin-bottom: 2.4rem;
    margin-top: 2rem;
  }
  .footer__address p:last-child {
    display: none;
  }
  .footer__call {
    order: 4;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .footer__call a.button {
    display: none;
  }
  .footer__call p {
    margin-bottom: 0;
  }
  .footer__call a {
    font-size: 1.7rem;
    line-height: 2.8rem;
  }
  .footer__nav {
    order: 1;
  }
  .footer__nav a {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  .footer hr {
    margin-top: 3.2rem;
    margin-bottom: 1.2rem;
  }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__bottom a, .footer__bottom p {
    font-size: 1.3rem;
    line-height: 2rem;
    color: #000000;
  }
  .footer .p-mobile {
    display: block;
    margin-bottom: 1.2rem;
  }
  .footer__mobile:visited, .footer__mobile:link {
    display: flex;
    width: 100%;
  }
  .footer__mobile:visited span, .footer__mobile:visited svg, .footer__mobile:link span, .footer__mobile:link svg {
    margin-left: auto;
  }
}
.home {
  height: 90vh;
  width: 100%;
  position: relative;
  padding-top: 20rem;
  z-index: 0;
}
.home__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
}
.home__bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 57.9rem;
  height: auto;
  z-index: -1;
}
.home__box {
  display: flex;
  justify-content: space-between;
}
.home__box .left {
  display: flex;
  flex-direction: column;
  max-width: 64.8rem;
}
.home__box .left h1 {
  margin-bottom: 2rem;
}
.home__box .left p {
  margin-bottom: 4.2rem;
}
.home__box .right {
  max-width: 69rem;
}
.home__box .right img {
  width: 100%;
  height: 100%;
  transform: translateY(-11rem);
}

@media all and (max-width: 768px) {
  .home {
    padding-top: 4rem;
  }
  .home__bg {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  .home__bottom {
    display: none;
  }
  .home__box {
    flex-direction: column;
  }
  .home__box .left {
    max-width: 100%;
  }
  .home__box .left h1 {
    margin-bottom: 0.8rem;
  }
  .home__box .left p {
    margin-bottom: 1.6rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  .home__box .right {
    max-width: 100%;
  }
  .home__box .right img {
    transform: none;
    position: absolute;
    top: 12rem;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
    z-index: -1;
  }
}
.partners {
  padding: 10rem 0;
  background: #FFF;
  position: relative;
  z-index: 0;
}
.partners__bg {
  width: 100%;
  max-width: 38.8rem;
  height: 44rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.partners .cont {
  margin-bottom: 3rem;
}
.partners .swiper {
  height: 30.4rem;
  width: 100%;
  max-width: 129.6rem;
  overflow: visible;
  position: relative;
}
.partners .swiper .swiper-wrapper {
  align-items: end;
}
.partners .swiper .swiper-slide {
  height: 20rem;
  width: 30.6rem;
  transition: width 0.3s ease-in, height 1.2s ease-in-out;
}
.partners .swiper .swiper-slide-active {
  height: 30.4rem;
  width: 45.9rem !important;
}
.partners .swiper .swiper-slide-active .slide_wrapper .bottom {
  opacity: 1;
}
.partners .swiper .slide_wrapper {
  border-radius: 1.6rem;
  border: 0.1rem solid #187FD3;
  position: relative;
  height: 100%;
  display: flex;
  align-items: end;
  padding: 3.2rem 2rem;
  background-color: #FFF;
  transition: all 0.3s ease-in-out;
}
.partners .swiper .slide_wrapper:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
}
.partners .swiper .slide_wrapper img {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}
.partners .swiper .slide_wrapper .bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.partners .swiper .slide_wrapper .bottom a {
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.partners .swiper .slide_wrapper .bottom a svg {
  width: 1.2rem;
  height: 1.2rem;
}
.partners .swiper .heading {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 81.3rem;
}
.partners .swiper .heading .left {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.partners .swiper .heading .right {
  display: flex;
  gap: 1.6rem;
  align-items: start;
}
.partners .swiper .heading .right [class^=partners-swiper-] {
  cursor: pointer;
}
.partners .heading_mobile {
  display: none;
}
.partners .mobile_btns_partners-swiper {
  display: none;
}

@media all and (max-width: 768px) {
  .partners {
    padding: 6rem 0;
  }
  .partners__bg {
    width: 100%;
    max-width: 32.9rem;
    height: 34.7rem;
  }
  .partners .cont {
    margin-bottom: 1.6rem;
  }
  .partners .swiper {
    height: 23.8rem;
    max-width: 100%;
    position: relative;
    padding-inline: 1.6rem;
  }
  .partners .swiper .swiper-slide {
    height: 100%;
    width: 100% !important;
  }
  .partners .swiper .swiper-slide-active {
    height: 100%;
    width: 100%;
  }
  .partners .swiper .slide_wrapper {
    padding: 1.2rem 1.6rem;
  }
  .partners .swiper .slide_wrapper img {
    width: 30%;
    height: 30%;
  }
  .partners .swiper .slide_wrapper .bottom {
    opacity: 1;
  }
  .partners .swiper .slide_wrapper .bottom p {
    font-size: 1.9rem;
    line-height: 3.2rem;
  }
  .partners .swiper .heading {
    display: none;
  }
  .partners .heading_mobile {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    gap: 0.4rem;
  }
  .partners .mobile_btns_partners-swiper {
    display: flex;
    gap: 1.3rem;
    margin-top: 2rem;
    justify-content: center;
  }
}
.about {
  padding: 12rem 0;
  background-color: #0A3354;
}
.about__box {
  margin-top: 2.8rem;
}
.about__box_top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  grid-template-rows: repeat(6, 1fr);
}
.about__box_top img {
  width: 100%;
  height: 36.4rem;
  border-radius: 1.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  grid-row: span 6;
}
.about__box_top h2 {
  grid-row: span 1;
}
.about__box_top p {
  grid-row: span 4;
  margin-top: -0.4rem;
}
.about__box_top .btns {
  grid-row: span 1;
  margin-top: -0.8rem;
  display: flex;
  gap: 2.4rem;
}
.about__box_bottom {
  margin-top: 3.2rem;
}
.about__box_bottom .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  height: 19.2rem;
  width: 100%;
}
.about__box_bottom .grid .item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  height: 100%;
  border-radius: 1.2rem;
  background-color: #187FD3;
  padding: 2.8rem 3.2rem;
  transition: all 0.3s ease-in-out;
  outline: 0.1rem solid #187FD3;
}
.about__box_bottom .grid .item img {
  width: 3.6rem;
  height: 3.6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__box_bottom .grid .item:hover {
  transform: translatey(-0.7rem);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
  outline: 0.5rem solid #FFF;
}
.about__box_bottom .grid_second {
  margin-top: 2.4rem;
}
.about__box_bottom .grid_second h3 {
  font-weight: 700;
}

@media all and (max-width: 768px) {
  .about {
    padding: 6rem 0;
  }
  .about__box {
    margin-top: 2rem;
  }
  .about__box_top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
    grid-template-rows: repeat(1, 1fr);
  }
  .about__box_top img {
    width: 100%;
    height: 36.4rem;
    border-radius: 1.6rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-row: span 1;
  }
  .about__box_top h2 {
    grid-row: span 1;
    order: -1;
  }
  .about__box_top p {
    grid-row: span 1;
    margin-top: -0.4rem;
  }
  .about__box_top .btns {
    grid-row: span 1;
    margin-top: 0;
    flex-direction: column;
    align-items: start;
    gap: 1.6rem;
  }
  .about__box_bottom {
    margin-top: 3.2rem;
  }
  .about__box .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.9rem;
    height: 100%;
    width: 100%;
  }
  .about__box .grid .item {
    padding: 1.2rem 1.6rem;
  }
  .about__box .grid .item p {
    margin-bottom: 0.8rem;
  }
  .about__box .grid .item:hover {
    outline: 0.5rem solid #FFF;
  }
  .about__box .grid_second {
    margin-top: 2.8rem;
  }
  .about__box .grid_second .item {
    align-items: start;
  }
  .about__box .grid_second .item h3 {
    margin-bottom: 0.4rem;
  }
}
@media all and (max-width: 380px) {
  .about__box .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.9rem;
    height: 100%;
    width: 100%;
  }
  .about__box .grid .item {
    padding: 1.2rem 1.6rem;
  }
  .about__box .grid .item p {
    margin-bottom: 0.8rem;
  }
  .about__box .grid_second {
    margin-top: 2.8rem;
  }
  .about__box .grid_second .item {
    align-items: start;
  }
  .about__box .grid_second .item h3 {
    margin-bottom: 0.4rem;
  }
}
.news {
  padding: 10rem 0;
  background-color: #FFF;
  position: relative;
  z-index: 0;
}
.news .mobile_news {
  display: none;
}
.news .heading {
  margin-top: 3.6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.news__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48.8rem;
  height: 51.6rem;
  z-index: -1;
}
.news__box {
  margin-top: 2rem;
}
.news__box .swiper {
  height: 40.4rem;
  width: 100%;
  max-width: 100%;
}
.news__box .swiper .swiper-slide {
  height: 100%;
}
.news__box .swiper .item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.news__box .swiper .item .wrapper__img {
  height: 24.4rem;
  overflow: hidden;
  background: #187FD3;
}
.news__box .swiper .item .wrapper__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.6rem;
}
.news__box .swiper .item .wrapper__content {
  background: #187FD3;
  padding: 2rem 3.2rem;
  position: relative;
}
.news__box .swiper .item .wrapper__content .title-and-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}
.news__box .swiper .item .wrapper__content p {
  margin-bottom: 1.2rem;
  font-weight: 200;
  height: 7.2rem;
  overflow: hidden;
}
.news__box .swiper .item .wrapper__content .link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.news__box .swiper .item .wrapper__content::after {
  content: "";
  width: 6.5rem;
  height: 8.7rem;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("../../src/img/news_after_img.webp");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

@media all and (max-width: 768px) {
  .news {
    padding: 6rem 0;
  }
  .news .heading {
    margin-top: 2rem;
  }
  .news .heading a {
    display: none;
  }
  .news__box {
    margin-top: 1.6rem;
  }
  .news__box .swiper {
    height: 100%;
    overflow: visible;
  }
  .news__box .swiper .swiper-slide {
    height: 100%;
  }
  .news .mobile_news {
    display: flex;
    position: relative;
    margin-top: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .news .mobile_news svg, .news .mobile_news span {
    margin-left: auto;
  }
}
.vacancy {
  padding: 12rem 0;
  background-color: #0A3354;
}
.vacancy__box {
  display: grid;
  gap: 2.4rem;
  margin-top: 3.6rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 17.2rem;
}
.vacancy__box img {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  grid-row: span 3;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.vacancy__box p {
  margin-top: -0.4rem;
}

@media all and (max-width: 768px) {
  .vacancy {
    padding: 6rem 0;
  }
  .vacancy__box {
    display: grid;
    gap: 1.2rem;
    margin-top: 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 100%;
  }
  .vacancy__box img {
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;
    grid-row: span 1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    order: 1;
  }
  .vacancy__box p {
    margin-top: -0.4rem;
  }
  .vacancy__box .vacancy_button {
    order: 2;
    margin-top: 0.8rem;
    width: 100%;
  }
  .vacancy__box .vacancy_button svg, .vacancy__box .vacancy_button span {
    margin-left: auto;
  }
}
.contacts {
  padding: 10rem 0;
  background-color: #1A428F;
}
.contacts .mobile_button {
  display: none;
}
.contacts .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.8rem;
}
.contacts .heading [data-tabs] {
  display: flex;
  gap: 4rem;
  border: none;
}
.contacts .heading [data-tabs] li a {
  font-size: 1.7rem;
  padding: 0;
  border: 0;
  transition: all 0.3s ease-in-out;
}
.contacts .heading [data-tabs] li a[role=tab][aria-selected=true] {
  background-color: transparent;
}
.contacts .heading [data-tabs] li a[role=tab]:hover:not([aria-selected=true]) {
  background: transparent;
  color: white;
}
.contacts .heading [data-tabs] li a:not([aria-selected=true]) {
  color: #9A9DA3;
}
.contacts__box {
  margin-top: 2rem;
}
.contacts__box_inner {
  display: flex;
  justify-content: space-between;
}
.contacts__box .left {
  max-width: 41.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__box .right {
  padding: 3.8rem 3.3rem;
  background-color: #115994;
  border-radius: 1.6rem;
}
.contacts__box .right img {
  width: 100%;
  height: 100%;
}
.contacts__card {
  padding: 2.4rem 3.2rem 2.8rem;
  background-color: #FFF;
  border-radius: 1.6rem;
  display: flex;
  justify-content: space-between;
}
.contacts__card .contacts__card_left {
  max-width: 15.2rem;
}
.contacts__card .contacts__card_right {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.contacts__card h3 {
  font-size: 1.9rem;
  font-style: normal;
  line-height: 3.2rem;
  color: #187FD3;
  font-family: "Nexa-Bold";
}
.contacts__card p {
  font-size: 1.5rem;
  font-style: normal;
  line-height: 2.4rem;
  color: #434443;
}
.contacts__card a {
  font-size: 1.5rem;
  font-style: normal;
  line-height: 2.4rem;
  color: #434443;
  transition: color 0.3s ease-in-out;
}
.contacts__card a:hover {
  color: #187FD3;
}

@media all and (max-width: 76.8rem) {
  .contacts {
    padding: 6rem 0;
  }
  .contacts .heading {
    align-items: start;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1.6rem;
  }
  .contacts .heading a.button {
    display: none;
  }
  .contacts .heading .for-scroll {
    overflow-x: scroll;
    width: 100%;
  }
  .contacts .heading .for-scroll::-webkit-scrollbar {
    width: 100%;
    height: 0.4rem;
  }
  .contacts .heading .for-scroll::-webkit-scrollbar-track {
    background: #1A428F;
  }
  .contacts .heading .for-scroll::-webkit-scrollbar-thumb {
    background-color: #0A3354;
  }
  .contacts .heading .for-scroll::-webkit-scrollbar-thumb:hover {
    background: #187FD3;
  }
  .contacts .heading [data-tabs] {
    gap: 4rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .contacts__box {
    margin-top: 1.2rem;
  }
  .contacts__box_inner {
    flex-direction: column;
    gap: 1.2rem;
  }
  .contacts__box .left {
    max-width: 100%;
    gap: 1.2rem;
  }
  .contacts__box .right {
    padding: 1.6rem 1.4rem;
  }
  .contacts .mobile_button {
    display: flex;
    width: 100%;
    margin-top: 2.8rem;
  }
  .contacts .mobile_button span, .contacts .mobile_button svg {
    margin-left: auto;
  }
  .contacts__card {
    padding: 1.2rem 1.6rem 1.6rem;
  }
  .contacts__card h3 {
    font-size: 1.7rem;
    line-height: 2.8rem;
  }
  .contacts__card p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .contacts__card a {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.about__page {
  padding: 3.2rem 0 10rem;
  background-color: #FFF;
}
.about__page .about__box_top p {
  color: #434443;
}

.mission {
  padding: 8rem 0;
  background-color: #0A3354;
}
.mission__floor {
  padding: 4rem 0;
}
.mission__floor_wrapper {
  max-width: 132.6rem;
  margin-inline: auto;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
}
.mission__floor_second {
  background-color: #187FD3;
}
.mission__floor .content {
  max-width: 63.6rem;
  padding: 1.2rem 0 0 0;
}
.mission__floor .content h2 {
  margin-bottom: 0.8rem;
}
.mission__floor img {
  width: 100%;
  height: 24rem;
  max-width: 63.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1.6rem;
}

@media all and (max-width: 768px) {
  .mission {
    padding: 2rem 0;
  }
  .mission__floor {
    padding: 4rem 0;
  }
  .mission__floor_wrapper {
    padding-inline: 1.6rem;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.6rem;
  }
  .mission__floor_second .mission__floor_wrapper {
    flex-direction: column-reverse;
  }
  .mission__floor .content {
    max-width: 100%;
    padding: 0;
  }
  .mission__floor img {
    height: 14rem;
    max-width: 100%;
  }
}
.brands {
  background-color: #0A3354;
  padding: 3.2rem 0 10rem;
}
.brands .heading {
  display: flex;
  justify-content: space-between;
  margin-top: 2.8rem;
}
.brands__box {
  margin-top: 2rem;
}
.brands__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  gap: 2.3rem;
}
.brands__grid .item {
  border-radius: 1.6rem;
  border: 0.1rem solid #187FD3;
  position: relative;
  height: 27.6rem;
  width: 100%;
  display: flex;
  align-items: end;
  padding: 2rem 3.2rem;
  background-color: #FFF;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.brands__grid .item:hover {
  transform: translateY(-0.5rem);
}
.brands__grid .item img {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
  object-fit: contain;
}
.brands__grid .item .bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}

@media all and (max-width: 768px) {
  .brands {
    padding: 1.8rem 0 6rem;
  }
  .brands .heading {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .brands .heading p {
    display: none;
  }
  .brands__box {
    margin-top: 1.6rem;
  }
  .brands__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
  }
  .brands__grid .item {
    height: 23.8rem;
    padding: 1.2rem 1.6rem;
  }
  .brands__grid .item .bottom p {
    font-size: 1.9rem;
    line-height: 3.2rem;
  }
}
.news_page {
  padding: 3.2rem 0 8rem;
  position: relative;
  z-index: 0;
}
.news_page_bg {
  width: 100%;
  height: 61.2rem;
  max-width: 57.9rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.news_page__box {
  margin-top: 2rem;
}
.news_page__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  width: 100%;
  gap: 2.4rem;
}
.news_page__grid .item {
  height: 40.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.news_page__grid .item:hover {
  transform: translateY(-0.5rem);
}
.news_page__grid .item .wrapper__img {
  height: 24.4rem;
  overflow: hidden;
  background: #FFF;
}
.news_page__grid .item .wrapper__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.6rem;
}
.news_page__grid .item .wrapper__content {
  background: #FFF;
  padding: 2rem 3.2rem;
  position: relative;
}
.news_page__grid .item .wrapper__content::after {
  content: "";
  width: 6.5rem;
  height: 8.7rem;
  position: absolute;
  right: 0;
  bottom: -0.2rem;
  background-image: url(../../src/img/news_page_after.webp);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.news_page__grid .item .wrapper__content p {
  color: #434443;
  height: 7.2rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
}
.news_page__grid .item .wrapper__content .title-and-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}
.news_page__grid .item .wrapper__content .title-and-date h3 {
  color: #187FD3;
}
.news_page__grid .item .wrapper__content .title-and-date span {
  color: #9A9DA3;
}
.news_page__grid .item .wrapper__content .link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.news_page__grid .item .wrapper__content .link span {
  color: #0A3354;
  font-family: "Nexa-Bold";
}

@media all and (max-width: 768px) {
  .news_page {
    padding: 1.8rem 0 6rem;
  }
  .news_page_bg {
    height: 41.3rem;
    max-width: 37.8rem;
  }
  .news_page__box {
    margin-top: 1.6rem;
  }
  .news_page__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
  }
}
.news_inner {
  padding: 5.2rem 0 8rem;
  background-color: #0A3354;
}
.news_inner_line {
  background-color: #0A3354;
}
.news_inner_line hr {
  margin: 0;
  opacity: 1;
}
.news_inner .heading {
  display: flex;
  gap: 1rem;
  align-items: end;
}
.news_inner__box {
  margin-top: 2.4rem;
  display: flex;
  gap: 3.2rem;
}
.news_inner__box img {
  width: 100%;
  height: auto;
  max-width: 48rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.6rem;
}
.news_inner__box .content {
  padding: 2.4rem 3.2rem;
  background-color: #FFF;
  border-radius: 1.6rem;
}

.news_recs {
  background-color: #0A3354;
}
.news_recs .heading {
  margin: 0;
}
.news_recs .news__box .swiper .item .wrapper__img {
  background-color: #FFF;
}
.news_recs .news__box .swiper .item .wrapper__content {
  background-color: #FFF;
}
.news_recs .news__box .swiper .item .wrapper__content::after {
  background-image: url("../../src/img/news_page_after.webp");
  bottom: -0.2rem;
}
.news_recs .news__box .swiper .item .wrapper__content .title-and-date h3 {
  color: #187FD3;
}
.news_recs .news__box .swiper .item .wrapper__content .title-and-date span {
  color: #9A9DA3;
}
.news_recs .news__box .swiper .item .wrapper__content p {
  color: #434443;
}
.news_recs .news__box .swiper .item .wrapper__content .link span {
  font-family: "Nexa-Bold";
}

.contacts_page {
  padding: 3.2rem 0 10rem;
}

@media all and (max-width: 768px) {
  .news_inner {
    padding: 2rem 0 4rem;
  }
  .news_inner .heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
  }
  .news_inner__box {
    margin-top: 1.9rem;
    flex-direction: column-reverse;
    gap: 1.6rem;
  }
  .news_inner__box img {
    width: 100%;
    height: 29.5rem;
    max-width: 100%;
  }
  .news_inner__box .content {
    padding: 2rem 1.6rem;
  }
  .news_recs {
    padding: 4rem 0 6rem;
  }
  .contacts_page {
    padding: 6rem 0;
  }
}
.page_not_found {
  height: 90vh;
  position: relative;
  background-color: #115994;
}
.page_not_found .cont {
  position: relative;
}
.page_not_found__box {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.page_not_found__box h1 {
  font-size: 24rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24rem;
  font-family: "Nexa-Bold";
}
.page_not_found__box h2 {
  margin-bottom: 3.6rem;
}
.page_not_found_bg {
  width: 100%;
  max-width: 57.9rem;
  height: 61.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.thx {
  background-color: #0A3354;
}
.thx .page_not_found__box h1 {
  font-size: 6.4rem;
  line-height: 6.4rem;
  margin-bottom: 1.6rem;
}
.thx .page_not_found__box h2 {
  margin-bottom: 4rem;
}

@media all and (max-width: 768px) {
  .page_not_found__box {
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    position: relative;
    text-align: center;
  }
  .page_not_found__box h1 {
    font-size: 16rem;
    line-height: 16rem;
  }
  .page_not_found_bg {
    width: 100%;
    max-width: 37.9rem;
    height: 41.2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=style.css.map */