.breadcrumbs
    background-color: $-color-blue-darker
    padding: .8rem 0
    display: flex
    gap: .8rem
    align-items: center
    

    &_wrapper
        position: relative
        z-index: 10

    p,a
        font-size: 1.3rem
        color: $color-white
        line-height: 2rem
        font-style: normal
        transition: color .3s ease-in-out

    a:hover
        color: $-color-gray-disable